/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #0E578D;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}

.translator-container, .keyboard-container {
  background: #fff;
  border-radius: 7px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.translator-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 717px; /* Ajusta este valor según la altura del contenedor del teclado */
  min-width: 700px;
}

.keyboard-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
}

.text-input {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.text-input .output {
  border-radius: 0px;
  border-left: 1px solid #ccc;
}

.text-input textarea {
  height: 250px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
}

.text-input textarea::placeholder {
  color: #b7b6b6;
}

.controls, li, .icons, .icons i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  list-style: none;
  padding: 12px 15px;
}

.controls .row .icons {
  width: 38%;
}

.controls .row .icons i {
  width: 50px;
  color: #adadad;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
  justify-content: center;
}

.controls .row.from .icons {
  padding-right: 15px;
  border-right: 1px solid #ccc;
}

.controls .row.to .icons {
  padding-left: 15px;
  border-left: 1px solid #ccc;
}

.controls .row select {
  color: #333;
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
  padding-left: 5px;
}

.text-input textarea::-webkit-scrollbar {
  width: 4px;
}

.controls .row select::-webkit-scrollbar {
  width: 8px;
}

.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track {
  background: #fff;
}

.text-input textarea::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 8px;
}

.controls .row select::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

.controls .exchange {
  color: #adadad;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
}

.controls i:active {
  transform: scale(0.9);
}

.translate-btn {
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 5px;
  background: #0E578D;
  transition: background 0.3s ease;
}

.translate-btn:hover {
  background: #084C85;
}

.braille-keyboard {
  display: grid;
  grid-template-columns: repeat(14, 1fr); /* Ajusta el número de columnas */
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.braille-keyboard button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 5px;
  background: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: background 0.3s ease;
  text-align: center;
}

.braille-keyboard button:hover {
  background: #e0e0e0;
}

.braille-keyboard button:active {
  background: #d0d0d0;
}

.keyboard-section h3 {
  margin-bottom: 10px;
  text-align: center;
}

footer {
  text-align: center;
  color: white;
  width: 100%;
  padding: 10px 0;
  background: #0E578D;
  position: absolute;
  bottom: 0;
}

@media (max-width: 1200px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .translator-container, .keyboard-container {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .translator-container, .keyboard-container {
    padding: 20px;
  }

  .wrapper .text-input {
    flex-direction: column;
  }

  .text-input .output {
    border-left: 0px;
    border-top: 1px solid #ccc;
  }

  .text-input textarea {
    height: 200px;
  }

  .controls .row .icons {
    display: none;
  }

  .translate-btn {
    padding: 13px;
    font-size: 16px;
  }

  .controls .row select {
    font-size: 16px;
  }

  .controls .exchange {
    font-size: 14px;
  }
}

/* Estilos existentes */

h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  padding-top: 20px; /* Añade un padding superior */
}

.signage-section {
  display: flex;
  justify-content: center;
  gap: 20px; /* Aumenta el espacio entre los botones */
  margin-top: 20px; /* Añade un poco de espacio superior si es necesario */
}

.download-btn {
  padding: 16px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  border-radius: 5px;
  background: #5372F0;
  flex: 1; /* Hace que ambos botones tengan el mismo tamaño */
  min-width: 300px; /* Establece un ancho máximo para los botones */
}


#logo {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  margin-top: -20px;
}
